body{
	color: rgb(20, 9, 79);
	background-attachment: fixed;
	background-position: center;
	background-size: contain;
}

hr {
  margin: 1px 0.75%;
  border-color: orange;
}

div{
	margin: 0 0.5%;
	color: black;
}


h1{
	position: relative;
	margin: 0;
	text-align: center;
}


.comment{
	color: green;
}

h2{
	margin: 0 1px;
	color: orange;
}

h3{
	color: #00ccff;
}

section{
	border: solid;
	border-color: orange;
	border-width: 5px;
	border-radius: 3px;
	padding: 0 1px;
	margin: -4.5px 1px 4px 1px;
}

table{
	margin-left: 16px;
}

u{
	color: #00ccff;
}
